target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#Models for OpenNLP
src/main/resources/models
src/main/resources/schema
src/main/resources/out
src/main/resources/index
src/main/resources/dict
src/main/resources/coref
src/main/resources/books